body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2e9e2;
    background-color: #48847a;
}

.content h1,
.content h2 {
    color: #f2e9e2;
}


a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.poddimage{
    float:left; 
    width:35%; 
    border-radius:25px; 
    padding:20px;
}

.poddnewsright{
    float:left; 
    width:65%; 
    padding-top:5%;
}

.poddimagemobil{
    display:none;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(51, 51, 51, 0.99)),
        url("img/header_bg_2.jpg");
    min-height: 250px;
    width: 100%;
    padding: 50px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04aa6d;
}

.avsnitt {
    background: #536b79;
    border: 3px solid #f2e9e2; 
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
}

.omoss {
    background: #D94D4D;
    border: 3px solid #f2e9e2;
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
}


@media screen and (max-width: 650px) {
    .poddimage {
        display: none;    
    }
    .poddimagemobil{
        display:block;
    }
    .poddnewsright{
        float:left; 
        width:100%; 
        padding-top:5%;
        text-align: center;
    }
  }